@if (board) {
  <div class="game">

    <div class="player player1">
      <h2>Player 1</h2>
      <div class="board">
        @for (field of board.boards.player1; track $index) {
          <div class="field" (click)="shoot(1, $index)">
            <app-field [field]="field"></app-field>
          </div>
        }
      </div>
    </div>

    <div class="player player1">
      <h2>Player 2</h2>
      <div class="board">
        @for (field of board.boards.player2; track field) {
          <div class="field" (click)="shoot(2, $index)">
            <app-field [field]="field"></app-field>
          </div>
        }
      </div>
    </div>

  </div>
} @else {
  <i>No Board!</i>
}
